server:
  port: 3150

spring:
  application:
    name: eureka-server

eureka:
  instance:
    prefer-ip-address: false
    hostname: 34.47.77.34
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

management:
  endpoints:
    web:
      exposure:
        include: refresh,health,info,prometheus,metrics

  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
      export:
        prometheus:
          enabled: true
      tags:
        application: ${spring.application.name}